<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<main>
  <div class="container">
    <!-- <div class="row">
            <div class="col-md-12">
                <div class="top-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Social</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div> -->
    <div class="img"
      style="    background-image: linear-gradient(150deg, rgba(63, 174, 255, .3)15%, rgba(63, 174, 255, .3)70%, rgba(63, 174, 255, .3)94%), url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);height: 350px;background-size: cover;">
    </div>
    <div class="card social-prof">
      <div class="card-body">
        <div class="wrapper">
          <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="user-profile">
          <h3>Jane Smith</h3>
          <p>Service Provider</p>
        </div>
        <div class="row ">
          <div class="col-lg-12">
            <ul class=" nav nav-tabs justify-content-center s-nav">
              <li><a class="active" [routerLink]="['/profile/time-line']">Timeline</a></li>
              <li><a [routerLink]="['/profile/about']">About</a></li>
              <!-- <li><a href="#">Friends</a></li> -->
              <!-- <li><a href="#">Photos</a></li> -->
              <!-- <li><a href="#">Videos</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="h5 text-blue">@JaneSmith</div>
            <div class="h7 "><strong>Name :</strong> Jane Smith</div>
            <div class="h7"><strong>About :</strong> Developer of web applications, JavaScript, PHP, Java, Python, Ruby,
              Java, Node.js, etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h6 text-muted">Total Team Members</div>
              <div class="h5">5</div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">Active Team Members</div>
              <div class="h5">67</div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">Total Earning</div>
              <div class="h5">$ 6758</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 gedf-main">
        <div class="card social-timeline-card">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                  <img class="rounded-circle" width="45" src="https://bootdey.com/img/Content/avatar/avatar3.png"
                    alt="">
                </div>
                <div class="ml-2">
                  <div class="h5 m-0 text-blue">@JaneSmith</div>
                  <div class="h7 text-muted">Miracles Lee Cross</div>
                </div>
              </div>
              <div>
                <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop2">
                    <div class="h6 dropdown-header">Configuration</div>
                    <a class="dropdown-item" href="#">Save</a>
                    <a class="dropdown-item" href="#">Hide</a>
                    <a class="dropdown-item" href="#">Report</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> Hace 40 min</div>
            <a class="card-link" href="#">
              <h5 class="card-title">Totam non adipisci hic! Possimus ducimus amet, dolores illo ipsum quos
                cum.</h5>
            </a>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sunt fugit reprehenderit consectetur
              exercitationem odio, quam nobis? Officiis, similique, harum voluptate, facilis voluptas pariatur dolorum
              tempora sapiente eius maxime quaerat.
              <a href="https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU"
                target="_blank">https://mega.nz/#!1J01nRIb!lMZ4B_DR2UWi9SRQK5TTzU1PmQpDtbZkMZjAIbv97hU</a>
            </p>
          </div>
        </div>
        <!-- Post /////-->
      </div>
      <div class="col-lg-3">
        <div class="card social-timeline-card">
          <div class="card-body">
            <h5 class="card-title">TOP RATED MEMBERS</h5>
            <ul class="friend-list">
              <li>
                <div class="left">
                  <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
                </div>
                <div class="right">
                  <h3>John Doe</h3>
                  <h3>********</h3>
                  <p>8 Stars</p>
                </div>
              </li>
              <li>
                <div class="left">
                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                </div>
                <div class="right">
                  <h3>John Doe</h3>
                  <h3>*******</h3>
                  <p>7 Stars</p>
                </div>
              </li>
              <li>
                <div class="left">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                </div>
                <div class="right">
                  <h3>John Doe</h3>
                  <h3>*******</h3>
                  <p>7 Stars</p>
                </div>
              </li>
              <li>
                <div class="left">
                  <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
                </div>
                <div class="right">
                  <h3>John Doe</h3>
                  <h3>******</h3>
                  <p>6 Stars</p>
                </div>
              </li>
              <li>
                <div class="left">
                  <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                </div>
                <div class="right">
                  <h3>John Doe</h3>
                  <h3>*****</h3>
                  <p>5 Stars</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
