<div class="container p-0">

    <h1 class="h3 mb-3">Company Profile</h1>

    <div class="row">
        <!-- <div class="col-md-5 col-xl-4">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profile Settings</h5>
                </div>

                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account" role="tab">
                      Account
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                      Password
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Privacy and safety
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Email notifications
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Web notifications
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Widgets
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Your data
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Delete account
                    </a>
                </div>
            </div>
        </div> -->

        <div class="col-md-7 col-xl-12">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="account" role="tabpanel">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-more-horizontal align-middle">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">
                                <mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;About Me
                            </h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <mat-form-field appearance="fill" class="col-md-12">
                                                <mat-icon matPrefix>person</mat-icon>
                                                <mat-label>
                                                    Company Name
                                                </mat-label>
                                                <input matInput>
                                                <mat-error>
                                                    Company Name is required
                                                </mat-error>
                                            </mat-form-field>
                                            <!-- <label for="inputUsername">Username</label>
                                            <input type="text"  id="inputUsername" placeholder="Username"> -->
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <mat-form-field appearance="fill" class="col-md-6">
                                                    <mat-icon matPrefix>person</mat-icon>
                                                    <mat-label>
                                                        First Name
                                                    </mat-label>
                                                    <input matInput>
                                                    <mat-error>
                                                        First Name is required
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field appearance="fill" class="col-md-6">
                                                    <mat-icon matPrefix>person</mat-icon>
                                                    <mat-label>
                                                        Last Name
                                                    </mat-label>
                                                    <input matInput>
                                                    <mat-error>
                                                        Last Name is required
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <!-- <label for="inputUsername">Username</label>
                                            <input type="text"  id="inputUsername" placeholder="Username"> -->
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field appearance="fill" class="col-md-12">
                                                <mat-icon matPrefix>person</mat-icon>
                                                <mat-label>
                                                    Tag Line
                                                </mat-label>
                                                <input matInput>
                                                <mat-error>
                                                    Tag Line is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field appearance="fill" class="col-lg-12">
                                                <mat-label for="inputUsername">Biography</mat-label>
                                                <textarea matInput rows="2"
                                                    placeholder="Tell something about yourself"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <img alt="Andrew Jones"
                                                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                class="rounded-circle img-responsive mt-2" width="128" height="128">
                                            <div class="mt-2">
                                                <span class="btn btn-primary"><svg
                                                        class="svg-inline--fa fa-upload fa-w-16" aria-hidden="true"
                                                        data-prefix="fas" data-icon="upload" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                        data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z">
                                                        </path>
                                                    </svg><!-- <i class="fas fa-upload"></i> --> Upload</span>
                                            </div>
                                            <small>For best results, use an image at least 128px by 128px in .jpg
                                                format</small>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">
                                <mat-icon>message</mat-icon>&nbsp;&nbsp;&nbsp;CONTACT DETAIL
                            </h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Landline</mat-label>
                                            <mat-icon matPrefix>phone</mat-icon>
                                            <input type="tel" matInput>
                                            <mat-error>
                                                Landline No is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Mobile</mat-label>
                                            <mat-icon matPrefix>mobile_screen_share</mat-icon>
                                            <input type="tel" matInput>
                                            <mat-error>
                                                Modile No is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Email Address</mat-label>
                                            <mat-icon matPrefix>message</mat-icon>
                                            <input type="email" matInput>
                                            <mat-error>
                                                Email is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Skype</mat-label>
                                            <mat-icon matPrefix>mobile_screen_share</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Skype Id is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Website</mat-label>
                                            <mat-icon matPrefix>web</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Web Url is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Fax</mat-label>
                                            <mat-icon matPrefix>mobile_screen_share</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Fax is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>


                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">
                                <mat-icon>message</mat-icon>&nbsp;&nbsp;&nbsp;ADDRESS
                            </h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Address</mat-label>
                                            <mat-icon matPrefix>location_on</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Address is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Apt/Suite#</mat-label>
                                            <mat-icon matPrefix>location_on</mat-icon>
                                            <input type="number" matInput>
                                            <mat-error>
                                                Apt/Suite# is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>City</mat-label>
                                            <mat-icon matPrefix>location_on</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                City is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>State</mat-label>
                                            <mat-icon matPrefix>location_on</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Skype Id is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Postal Code</mat-label>
                                            <mat-icon matPrefix>location_on</mat-icon>
                                            <input type="number" matInput>
                                            <mat-error>
                                                Postal Code is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Country</mat-label>
                                            <mat-icon matPrefix>location_on</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Country is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Latitude</mat-label>
                                            <mat-icon matPrefix>location_on</mat-icon>
                                            <input type="number" matInput>
                                            <mat-error>
                                                Latitude is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Longitude</mat-label>
                                            <mat-icon matPrefix>location_on</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Longitude is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>


                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">
                                <mat-icon>dialpad</mat-icon>&nbsp;&nbsp;&nbsp;RADIUS FOR SERVICE AREA
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">


                            </div>


                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">
                                <mat-icon>dialpad</mat-icon>&nbsp;&nbsp;&nbsp;SERVICE TO PERFORM AT
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">


                            </div>


                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">
                                <mat-icon>share</mat-icon>&nbsp;&nbsp;&nbsp;SOCIAL MEDIA
                            </h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Facebook</mat-label>
                                            <mat-icon matPrefix>phone</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Facebook Url is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Twitter</mat-label>
                                            <mat-icon matPrefix>mobile_screen_share</mat-icon>
                                            <input type="tel" matInput>
                                            <mat-error>
                                                Modile No is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Linkedin</mat-label>
                                            <mat-icon matPrefix>message</mat-icon>
                                            <input type="email" matInput>
                                            <mat-error>
                                                Email is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Pinterest</mat-label>
                                            <mat-icon matPrefix>mobile_screen_share</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Skype Id is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Google Plus</mat-label>
                                            <mat-icon matPrefix>web</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Web Url is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Digg</mat-label>
                                            <mat-icon matPrefix>mobile_screen_share</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Fax is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Instagram</mat-label>
                                            <mat-icon matPrefix>web</mat-icon>
                                            <input matInput>
                                            <mat-error>
                                                Web Url is required
                                            </mat-error>
                                        </mat-form-field>

                                    </div>

                                </div>


                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">
                                <mat-icon>lock</mat-icon>&nbsp;&nbsp;&nbsp;PASSWORD UPDATE
                            </h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <div class="row">
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>New Password</mat-label>
                                            <mat-icon matPrefix>lock</mat-icon>
                                            <input type="password" matInput>
                                            <mat-error>
                                                Facebook Url is required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="col-md-6">
                                            <mat-label>Repeat Password</mat-label>
                                            <mat-icon matPrefix>lock</mat-icon>
                                            <input type="password" matInput>
                                            <mat-error>
                                                Modile No is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                </div>


                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">
                                <mat-icon>category</mat-icon>&nbsp;&nbsp;&nbsp;CATEGORY
                            </h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">

                                    <mat-form-field appearance="fill" class="col-md-12">
                                        <mat-label>Category</mat-label>
                                        <mat-icon matPrefix>category</mat-icon>
                                        <mat-select matInput>
                                            <mat-option value="" disabled>
                                                Select Category
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Facebook Url is required
                                        </mat-error>
                                    </mat-form-field>

                                </div>


                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">
                                <mat-icon>security</mat-icon>&nbsp;&nbsp;&nbsp;AMENITIES
                            </h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">

                                    <mat-form-field appearance="fill" class="col-md-12">
                                        <mat-label>Amenities</mat-label>
                                        <mat-icon matPrefix>category</mat-icon>
                                        <mat-select matInput multiple>
                                            <mat-option value="" disabled>
                                                Select Category
                                            </mat-option>
                                            <mat-option value="">
                                                Accept Credit Cards
                                            </mat-option><mat-option value="">
                                                Dogs Allowed
                                            </mat-option><mat-option value="">
                                                Wheel Chair accessable
                                            </mat-option><mat-option value="">
                                                Wireless Access
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Facebook Url is required
                                        </mat-error>
                                    </mat-form-field>

                                </div>


                            </form>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">
                                <mat-icon>language</mat-icon>&nbsp;&nbsp;&nbsp;LANGUAGES
                            </h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">

                                    <mat-form-field appearance="fill" class="col-md-12">
                                        <mat-label>Languages</mat-label>
                                        <mat-icon matPrefix>language</mat-icon>
                                        <mat-select matInput multiple>
                                            <mat-option value="" disabled>
                                                Select Languages
                                            </mat-option>
                                            <mat-option value="">
                                                <span class="flag-icon flag-icon-de flag-icon-squared"></span>  
                                                German
                                            </mat-option>
                                            <mat-option value="">
                                                <span class="flag-icon flag-icon-gr flag-icon-squared"></span>
                                                Greek
                                            </mat-option>
                                            <mat-option value="">
                                                <span class="flag-icon flag-icon-gb flag-icon-squared"></span>  
                                                English
                                            </mat-option>
                                            <mat-option value="">
                                                <span class="flag-icon flag-icon-es flag-icon-squared"></span>  
                                                Spanish
                                            </mat-option>
                                            <mat-option value="">
                                                <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
                                                French
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                              
                                            Facebook Url is required
                                        </mat-error>
                                    </mat-form-field>

                                </div>


                            </form>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>