<div class="app-body">
  <main class="main d-flex align-items-center">



    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">

                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                  <h3 class="text-center">Cascoode Service Provider App</h3>
                  <h3 class="text-center">Sign in</h3>
                  <p class="text-center">to continue to Cascoode App</p>
                  <p class="text-muted">{{loginError}}</p>
                  <mat-form-field appearance="fill" style="display: block;">
                    <mat-label>Username or Email</mat-label>
                    <input matInput name="username" ngModel required #username="ngModel">
                  </mat-form-field>
                  <mat-form-field appearance="fill" style="display: block;">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" name="password" placeholder="Password" ngModel required
                      #pass="ngModel">
                  </mat-form-field>

                  <div class="row">
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary " [disabled]='!f.valid'>Login</button>

                    </div>
                  </div>


                  <div class="row mt-3">
                    <div class="col-12">
                      <button type="button" class="btn btn-link ">Forgot password?</button>
                      <button type="button" class="btn btn-link " routerLink='/register'>Switch to signup?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>