<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col-12 col-sm-auto mb-3">
                    <div class="mx-auto" style="width: 140px;">
                      <div class="d-flex justify-content-center align-items-center rounded"
                        style="height: 140px; background-color: rgb(233, 236, 239);">
                        <div class="image-upload">
                          <label for="file-input" style="cursor: pointer;">
                            <img [src]="url1" style="color: rgb(166, 168, 170); font: bold 8pt Arial;">
                          </label>
                          <input style="visibility: hidden;" type="file" #imageInput accept="image/*"
                            (change)="onSelectFile($event);">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.username}}</h4>
                      <p class="mb-0">{{user.email}}</p>
                      <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                      <div class="mt-2">
                        <button class="btn btn-primary" type="file">
                          <i class="fa fa-fw fa-camera"></i>
                          <span>Change Photo</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="nav nav-tabs">
                  <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                </ul>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                    <form name="profileUpdateForm" [formGroup]="profileUpdateForm"
                      (ngSubmit)="formSubmit(profileUpdateForm.value);" class="form" novalidate="">
                      <div class="row">

                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" placeholder="First Name"
                                  formControlName="firstName" value=""
                                  [ngClass]="{'is-invalid' : submitted && f.firstName.errors}" required>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" formControlName="lastName"
                                  placeholder="Last Name" value=""
                                  [ngClass]="{'is-invalid' : submitted && f.lastName.errors}" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" formControlName="email" [value]="user.email"
                                  readonly>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Phone No</label>
                                <input class="form-control" type="tel" formControlName="phoneNo"
                                  [ngClass]="{'is-invalid' : submitted && f.phoneNo.errors}" [value]="user.phoneNo">
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col mb-3">
                              <div class="form-group">
                                <label>About</label>
                                <textarea class="form-control" rows="5" formControlName="about" value=""
                                  [ngClass]="{'is-invalid' : submitted && f.about.errors}"
                                  placeholder="My Bio"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col d-flex justify-content-end">
                              <button class="btn btn-primary" type="submit">Save
                                Changes</button>
                            </div>
                          </div>

                        </div>

                      </div>
                    </form>

                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Change Password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Current Password</label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                              <input class="form-control" type="password" placeholder="••••••"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                        <div class="mb-2"><b>Keeping in Touch</b></div>
                        <div class="row">
                          <div class="col">
                            <label>Email Notifications</label>
                            <div class="custom-controls-stacked px-2">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-blog" checked="">
                                <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-news" checked="">
                                <label class="custom-control-label" for="notifications-news">Newsletter</label>
                              </div>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="notifications-offers"
                                  checked="">
                                <label class="custom-control-label" for="notifications-offers">Personal
                                  Offers</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                      </div>
                    </div>
                    <!-- </form> -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
